.item {
    background-color: white !important;
    border-radius: 0.3rem !important;
    text-align: left;
    padding: .5rem !important;
    margin: .5rem !important;
}
.item.meta  {
    font-style: italic !important;
}