#journalContainer {
    align-self: center !important;
  }

#entryGrid {
    background-color: lightslategray !important;
    border-radius: 0.3rem !important;
    text-align: left;
    padding: .5rem !important;
}